<p>
  <b>Code:</b>
  <%=h @cost_center.code %>
</p>

<p>
  <b>Division:</b>
  <%=h @cost_center.division %>
</p>


<%= link_to 'Edit', edit_cost_center_path(@cost_center) %> |
<%= link_to 'Back', cost_centers_path %>